# =========================
# Python / FastAPI
# =========================

venv/
.venv/
__pycache__/
*.py[cod]

# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example

# =========================
# React / Node
# =========================

node_modules/
dist/

# =========================
# IDE / Editor
# =========================

.vscode/
.idea/

# =========================
# Operating System
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log
npm-debug.log*